*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Roboto", sans-serif;
    font-weight: 300;

    font-stretch: condensed;

    text-decoration: none;

    -webkit-overflow-scrolling: touch;
    text-transform: capitalize;

}

/* Default Stylings */

body {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    gap: 1.825rem;
    width: 100vw;


    background-color: #030303;

    color: #ffffff;

    font-size: 16px;

    overflow-x: hidden;


    -ms-overflow-style: none;
    scrollbar-width: none;

    &::selection {
        background-color: #ffffff;
        color: #030303;
    }

    &::-moz-selection {
        background-color: #ffffff;
        color: #030303;
    }

    &::placeholder {
        color: #ffffff;
    }

    &::-webkit-input-placeholder {
        color: #ffffff;
    }

    &::-moz-placeholder {
        color: #ffffff;
    }

    &:-ms-input-placeholder {
        color: #ffffff;
    }


}

h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    font-stretch: condensed;

    text-align: center;

    margin-top: 40px;

}

.container,
.container2 {
    padding: 0 20px 0 0;

    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    gap: 0.825rem;
}

.container2 {
    height: 40vh;
    padding-top: 20%;
}



section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    gap: 0.825rem;
    height: 70vh;
    border: 1px white solid;
    padding: 10px;
    top: 5rem;

}

.divcontainer {
    position: absolute;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.divcontainer button {
    font-size: 0.85rem;

}

section div:not(.divcontainer) {
    width: 100px;
    height: 100px;
    background-color: #2a1394;
    color: rgb(20, 20, 20);
    border-radius: 10px;

    padding: 10px;

    margin: 10px;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #eeeeee;
    font-weight: 500;
    cursor: pointer;

    font-size: 16px;

    box-shadow: 0 0 3px 2px #120463;

    transition: all 0.3s ease;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    &:hover {
        background-color: #030303;
        transform: scale(1.1);
        color: #ffffff;
    }

    &:active {
        transform: scale(0.9);

    }

    &:focus {
        outline: none;
        transform: scale(0.9);

    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
        transform: scale(1);
        box-shadow: none;

    }


}

.dragdrop {
    color: white !important;
}

/* Stylings For Widgets */
.mytooltip:hover:after {
    background: #333;
    background: rgba(0, 0, 0, .9);
    border-radius: 5px;
    bottom: 26px;
    color: rgb(255, 77, 85);
    content: attr(title);
    right: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.mytooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    right: 50%;
    position: absolute;
    z-index: 99;
}

.mytooltip {

    background-color: black;
    color: rgb(255, 77, 85) !important;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 50px;
    text-align: center;
    font: bold 14px;
    font-stretch: condensed;
    text-decoration: none;
    box-shadow: 0 0 10px black;
}

/* Stylings For Effects */

.big-blue {
    width: 200px;
    height: 200px;
    background-color: #00f;
}

#p1,
#p2 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translate(-50%, -50%);
}

#p2 {
    top: 70%;
}

.displayNone {
    display: none;
}

.clipped {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #3b679e;
    background: linear-gradient(to bottom, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    inset: 50%;
    transform: translate(-50%, -50%);
}


.toggle1,
.toggle2 {
    position: absolute;
    top: 5rem;
    width: 100px;
    height: 100px;
    color: white !important;
}

.toggle2 {
    top: 15rem;
}

#elem {
    color: white;
    font-size: 25px;
    padding: 1em;
    text-align: center;
    height: fit-content;
    width: fit-content;

}